*{
    padding: 0;
    margin: 0;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

nav div{
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    height: 50px;
    
}

nav img{
    width: 80px;
    height: 50px;
}

button{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: blueviolet;
    color: aliceblue;
    margin: 10px 10px;
    padding-top: 5px; 
    padding-bottom: 5px;
    font-size:10px;
    width: 80px;
    height: 20px;
}

button:hover{
    background-color: rgb(71, 40, 247);
    transition: .5s;
    width:100px;
    height: 35px;
}
