nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav div{
    display: flex;
    justify-content: space-around;
    width: 50vw;
    
}
button{
    background-color: blueviolet;
    color: aliceblue;
    font-size:10px;
    width: 80px;
    height: 20px;
}

button:hover{
    background-color: rgb(71, 40, 247);
    transition: .5s;
    width:100px;
    height: 35px;
}
